body{
  display:flex;
  flex-flow:column nowrap;
  flex:1;
  font-family:'Courier New', Courier, monospace;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: rgb(255, 245, 236);
  color: black;
}

.dark-mode {
  background-color: rgb(41, 41, 255);
  color: white;
}

.calculator{
  box-shadow: 1px 1px 15px -2px rgb(0, 0, 0);
  margin:32px;
  padding:8px;
  background-color: hsl(0, 0%, 86%);
  border: 2px solid black;
  border-radius: 8px 8px 8px 8px;
  display:flex;
  flex-flow:column;
  width: 60vh;
  max-width: 60vh;
}

.dark-modeCalculator{
  border: 2px solid rgb(89, 164, 255);
  background-color: hsl(234, 94%, 63%);
  color:whitesmoke;
}

.topSection{
  padding:8px;
  display:flex;
  flex-flow: column nowrap;
  width:auto;
  gap:4px;
}

.modelName{
  padding:16px;
}

.modelName button{
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  cursor:pointer;
  text-decoration: none;
  border: 0px;
  font-size: 16px;
  font-weight: 900;
  background-color: transparent;
}

.dark-modeModelName{
  color: whitesmoke;
}

.displaySection{
  border: 2px solid black;
  border-radius: 6px 6px 6px 6px;
  background-color: rgb(169, 233, 74);
  color: black;
  padding:16px;
  font-size: 32px;
  display: flex;
  flex-flow: column nowrap;
}

.dark-modeDisplaySection{
  border: 2px solid rgb(89, 164, 255);
}

.buttonSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
  grid-template-areas: "a a b b"
                        "c d e f"
                        "g h i j"
                        "k l m n"
                        "o p q r";
}

#ac {
  grid-area: a;
}

#del {
  grid-area: b;
}

#seven {
  grid-area: c;
}

#eight {
  grid-area: d;
}

#nine {
  grid-area: e;
}

#divide {
  grid-area: f;
}

#four {
  grid-area: g;
}

#five {
  grid-area: h;
}

#six {
  grid-area: i;
}

#multiply {
  grid-area: j;
}

#one {
  grid-area: k;
}

#two {
  grid-area: l;
}

#three {
  grid-area: m;
}

#minus {
  grid-area: n;
}

#zero {
  grid-area: o;
}

#dot {
  grid-area: p;
}

#equal {
  grid-area: q;
}

#plus {
  grid-area: r;
}

.numberButton{
  background-color: aliceblue;
}

.operatorButton{
  background-color: aquamarine;
}

.functionButton{
  background-color: crimson;
}

.equalButton{
  background-color: rgb(185, 187, 255);
}

.inputValue{
  text-align: start;
  font-size: 24px;
}

.result{
  text-align: end;
  font-size: 36px;
  font-weight: 900;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  font-size: 18px;
  margin-top: auto;
}

a:hover{
  text-decoration: none;
  color: black;
}

a:active{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
  color: black;
}

.buttonSection button{
  padding:16px;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  border-radius: 4px 4px 4px 4px;
  cursor:pointer;
}

button{
  border-color: whitesmoke;
}

.numberButton{
  background-color: aliceblue;
}

.operatorButton{
  background-color: aquamarine;
}

.functionButton{
  background-color: crimson;
}

.dark-modeNumberButton{
  background-color: rgb(93, 133, 168);
  border-color: rgb(97, 64, 150);
  color:antiquewhite;
}

.dark-modeButtonSection{
  border-color: rgb(97, 64, 150);
  color:antiquewhite;
}

.buttonSection button:hover{
  filter: brightness(110%);
}

.fa-github {
  font-size: 48px;
}