body{
  display:flex;
  flex-flow:column nowrap;
  flex:1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: rgb(255, 245, 236);
  color: black;
}

.calculator{
  background-color: hsl(0, 0%, 86%);
  border: 2px solid black;
  border-radius: 4px 4px 4px 4px;
  display:flex;
  flex-flow:column;
  width: 350px;
  max-width: 350px;
}

.topSection{
  padding:8px;
  display:flex;
  flex-flow: column nowrap;
  width:auto;
  gap:4px;
}

.modelName{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.displaySection{
  border: 2px solid black;
  border-radius: 4px 4px 4px 4px;
  background-color: rgb(169, 233, 74);
  padding:16px;
  font-size: 32px;
  display: flex;
  flex-flow: column nowrap;
}

.buttonSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
  grid-template-areas: "a a b b"
                        "c d e f"
                        "g h i j"
                        "k l m n"
                        "o p q r";
}

#ac {
  grid-area: a;
}

#del {
  grid-area: b;
}

#seven {
  grid-area: c;
}

#eight {
  grid-area: d;
}

#nine {
  grid-area: e;
}

#divide {
  grid-area: f;
}

#four {
  grid-area: g;
}

#five {
  grid-area: h;
}

#six {
  grid-area: i;
}

#multiply {
  grid-area: j;
}

#one {
  grid-area: k;
}

#two {
  grid-area: l;
}

#three {
  grid-area: m;
}

#minus {
  grid-area: n;
}

#zero {
  grid-area: o;
}

#dot {
  grid-area: p;
}

#equal {
  grid-area: q;
}

#plus {
  grid-area: r;
}

.numberButton{
  background-color: aliceblue;
}

.operatorButton{
  background-color: aquamarine;
}

.functionButton{
  background-color: crimson;
}

.inputValue{
  text-align: start;
  font-size: 24px;
}

.result{
  text-align: end;
  font-size: 32px;
  font-weight: 900;
}

footer{
  margin-top: auto;
}

a:hover{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

button{
  padding:16px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border-radius: 4px 4px 4px 4px;
  border-color: whitesmoke;
}

button:hover{
  filter: brightness(85%);
}