@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');

/* 
Cascading
  Style
    Sheets
Document */

/*⭒☆━━━━━━━━━━━━━━━☆⭒⭒☆━━━━━━━━━━━━━━━☆⭒⭒☆━━━━━━━━━━━━━━━☆⭒
INDEX
01. Body

⭒☆━━━━━━━━━━━━━━━☆⭒⭒☆━━━━━━━━━━━━━━━☆⭒⭒☆━━━━━━━━━━━━━━━☆⭒*/



/*ฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅ
01. Body
※
ฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅฅ^•ﻌ•^ฅ*/

body{
  font-family:'Roboto', Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, "Droid Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  margin:0px;
  background-color: rgb(255, 213, 171);
  /*brown paper background, courtesy of numberphile (not)*/
  background-image: url("../img/page-background.jpg"); 
  color: rgb(14, 14, 14);
  box-sizing: border-box;
}

/*https://codepen.io/tholman/pen/DgOpWz*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(107, 0, 0);
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-track{
  background-color: rgb(46, 46, 46);
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

::-webkit-scrollbar-track-piece{
  background-color: rgb(46, 0, 0);
  border-radius: 4px 4px 4px 4px;
}

.dark-mode {
  background-color: #121212;
  color: rgb(222, 222, 222);
}
/*flap idea from http://esquaria.net/special/instbest002/ */
#link_circletop {
  -webkit-text-size-adjust: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto', Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, "Droid Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-align: center;
  box-sizing: border-box;
  outline: none !important;
  outline-color: initial !important;
  text-decoration: underline;
  text-decoration-color: initial;
  display: block;
  position: fixed;
  top: -60.69595px;
  left: -60.69595px;
  z-index: 51;
  width: 120.19px;
  height: 120.19px;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  background-color: rgba(13, 14, 14,.75);
  color: rgb(232, 230, 227);
}

/*fa means fontawesome*/
.fa-github {
-webkit-text-size-adjust: 100%;
font-style: normal;
font-weight: normal;
font-family: 'Roboto', Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, "Droid Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 32px;
letter-spacing: 0.05em;
text-align: center;
color: rgb(232, 230, 227);
box-sizing: border-box;
display: block;
width: 100%;
height: 100%;
line-height: 1;
transform-origin: 50% 50%;
transform: scale(0.3, 0.3) translate3d(0, 113.05px, 0) rotate(45deg);
fill: rgb(232, 230, 227);
}

.dark-mode-fa-github {
  color: #efefef;
}

.fa-github:before {
  content: "\f09b";
  font-size: 128px;
}

.calculatorSection{
  display:flex;
  flex-flow:column nowrap;
  flex:1 0;
  align-items: center;
  text-align: center;
  padding-bottom:32px;
}

.calculator{
  box-shadow: inset 0 0 0 4px hsl(0,0%,15%),
  0 0 0 4px hsl(240, 100%, 81%);
  margin-top: 32px;
  padding:20px;
  background-color: hsl(0, 0%, 86%);
  border: 2px solid hsl(240, 100%, 75%);
  border-radius: 8px 8px 8px 8px;
  display:flex;
  flex-flow:column;
  flex:1 0;
  width: 60vh;
  max-width: 60vh;
  min-width: 60vh;
  gap: 8px;
  z-index: 1;
  position:relative;
  box-sizing: border-box;
}
/*https://stackoverflow.com/questions/27298934/3d-box-shadow-effect*/
.calculator:after,
.calculator:before {
  content: '';
  background: grey;
  position: absolute;
}
.calculator:before {
  width: 100%;
  height: 10px;
  left: 5px;
  bottom: 0;
  transform: translatey(100%) skewx(45deg);
  border-radius: 4px 4px 4px 4px;
}
.calculator:after {
  width: 10px;
  height: 100%;
  right: 0;
  transform: translatex(100%) skewy(45deg);
  top: 5px;
  border-radius: 4px 4px 4px 4px;
}

.dark-modeCalculator{
  box-shadow: 0px 0px 64px 16px rgba(138, 210, 255,50%);
  border: 2px solid rgb(89, 164, 255);
  background-color: hsl(234, 37%, 25%);
  color:whitesmoke;
}

.topSection{
  padding:8px;
  display:flex;
  flex-flow: column nowrap;
  width:auto;
  gap:4px;
}

.modelName{
  padding:16px;
  display:flex;
  justify-content: space-between;
}

.modelName .brandName{
  font-family: 'Audiowide', cursive;
  font-size: 32px;
  font-weight: lighter;
  text-shadow: 2px 2px 0px rgba(255,0,0,0.75), -2px -2px 0px rgba(77, 112, 255, 0.75);
}

.modelName .productId{
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  cursor:pointer;
/*https://html-css-js.com/css/generator/text-shadow/*/
  color: #a0a0a0;
  text-shadow: #e0e0e0 2px 2px 0;
}

.modelName .dark-modeProductId{
  color: whitesmoke;
  /*https://stackoverflow.com/questions/57464935/font-outline-using-only-css*/
  text-shadow: 0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255),0 0 3px rgb(137, 87, 255);
}

.modelName button{
  font-style: italic;
  text-decoration: none;
  border: 0px;
  font-weight: 900;
  background-color: transparent;
}

.dark-modeModelName{
  color: whitesmoke;
}

.displaySection{
  overflow-x:auto;
  border: 4px solid hsl(0, 0%, 66%);
  box-shadow: inset 0 0 0 4px hsl(0, 0%, 56%),
  0 0 0 6px hsl(0, 0%, 76%);
  border-radius: 2px 2px 2px 2px;
  background-color: rgb(210, 255, 143);
  color: rgba(0, 0, 0, 0.755);
  padding-left:16px;
  padding-right:16px;
  padding-top:16px;
  padding-bottom:8px;
  gap:16px;
  font-size: 32px;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-flow: column nowrap;
  color:rgba(0,0,0,.7);
}

/*::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.
from https://stackoverflow.com/questions/38023932/custom-scrollbar-only-in-one-div
https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar*/

#display::-webkit-scrollbar {
  height: 12px;
}

#display::-webkit-scrollbar-button{
  background-color: transparent;
}

#display::-webkit-scrollbar-thumb{
  background-color: rgba(145, 255, 0, 0.303);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

#display::-webkit-scrollbar-track{
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

#display::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

#display::-webkit-scrollbar-corner{
  background-color: transparent;
}

#display::-webkit-scrollbar-resizer{
  background-color: transparent;
}

.inputSection{
  display:flex;
  flex-flow:row nowrap;
}

.userInputValue, .waitingEffect{
  display:inline-block;
  text-align: start;
  font-size: 24px;
}

.result{
  text-align: end;
  font-size: 36px;
  font-weight: 900;
}

.dark-modeDisplaySection{
  border: 4px solid hsl(234, 37%, 45%);
  box-shadow: inset 0 0 0 4px hsl(234, 37%, 55%),
  0 0 0 8px hsl(234, 37%, 35%);
}

.buttonSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
  grid-template-areas: "power ans a b"
                        "c d e f"
                        "g h i j"
                        "k l m n"
                        "o p q r";
}

#power {
  grid-area: power;
  border-radius: 256px;
  margin-bottom: 8px;
}

#ans {
  grid-area: ans;
  border-radius: 256px;
  margin-bottom: 8px;
}

#ac {
  grid-area: a;
  border-radius: 256px;
  margin-bottom: 8px;
}

#del {
  grid-area: b;
  border-radius: 256px;
  margin-bottom: 8px;
}

#seven {
  grid-area: c;
}

#eight {
  grid-area: d;
}

#nine {
  grid-area: e;
}

#divide {
  grid-area: f;
}

#four {
  grid-area: g;
}

#five {
  grid-area: h;
}

#six {
  grid-area: i;
}

#multiply {
  grid-area: j;
}

#one {
  grid-area: k;
}

#two {
  grid-area: l;
}

#three {
  grid-area: m;
}

#minus {
  grid-area: n;
}

#zero {
  grid-area: o;
}

#dot {
  grid-area: p;
}

#equal {
  grid-area: q;
}

#plus {
  grid-area: r;
}

.buttonSection button{
  padding:16px;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  border-radius: 4px 4px 4px 4px;
  cursor:pointer;
}

button{
  border-color: whitesmoke;
}

.dark-modeButtonSection{
  border-color: rgb(97, 64, 150);
  color:antiquewhite;
}

.buttonSection button:hover{
  filter: brightness(110%);
}

.numberButton{
  background-color: aliceblue;
}

.operatorButton{
  background-color: rgb(155, 198, 184);
}

.functionButton{
  background-color: rgb(205, 76, 76);
}

.equalButton{
  background-color: rgb(185, 187, 255);
}

.dark-modeNumberButton{
  background-color: rgb(93, 133, 168);
}

.dark-modeOperatorButton{
  background-color:#8db5ff;
}

.dark-modeFunctionButton{
  background-color:#c49fff;
}

.dark-modeEqualButton{
  background-color:#d98200;
}

footer{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-top: auto;
  z-index:1;
  background-color: #20096E7F;
	color: #fff;
	filter:alpha(opacity=0.93);
	-moz-opacity: 0.93;
	opacity: 0.93;
}

#creator{
  color: crimson;
  text-shadow: 1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black,1px 1px 0 black;
}

a:hover{
  text-decoration: none;
  color: black;
}

a:active{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
  color: black;
}


/*https://codepen.io/agoodwin/pen/NMJoER*/
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
  display:none;
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
}